:root {
  --color-brand: #2196f3;
  --color-text-primary: #343434;
  --color-text-secondary: #bdbdbd;
}

::selection {
  background-color: var(--color-text-primary);
  color: white;
}

* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-primary);
  cursor: pointer;
  transition-duration: 900ms;
}

.social-icons {
  position: absolute;
  bottom: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-icons__icon {
  margin-right: 20px;
}

.menu__page-link {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.menu__page-link_selected {
  color: var(--color-text-primary);
}

/* Text */
.text {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
.text_size_xxxl {
  font-size: 48px;
  line-height: 60px;
}

.text_size_xxl {
  font-size: 40px;
  line-height: 48px;
}

.text_size_l {
  font-size: 20px;
  line-height: 28px;
}

.text_view_primary {
  color: var(--color-text-primary);
}

.text_view_secondary {
  color: var(--color-text-secondary);
}

.navigation {
  box-sizing: border-box;
  width: 400px;
  position: fixed;
  height: 100%;
  padding: 0 72px;
}

.navigation__container {
  height: 100%;
  position: relative;
  padding-top: 32px;
}

.layout {
  width: calc(100% - 400px);
  left: 400px;
  height: calc(100% + 50px);
  float: left;
  position: relative;
}

.layout--container {
  width: 90%;
  margin: auto;
  margin-top: 32px;
  position: relative;
}

.header {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding-top: 48px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {
  .navigation /*I want this div to be in position fixed and height as 100% of the screen. But when I do it, there is a chaos*/ {
    position: relative;
    width: 100%;
  }

  ._hide {
    display: none;
  }

  .layout {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layout--container {
    width: 90%;
    margin: auto;
  }

  .menu__page-link {
    font-weight: bold;
    display: inline;
    margin-right: 20px;
  }

  .social-icons {
    margin-bottom: 40px;
    position: static;
  }
}

.card {
  color: var(--color-text-secondary);
  height: 300px;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 16px;
  transition-duration: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 1px 8px 5px rgba(179, 175, 179, 0.3);
  -moz-box-shadow: 3px 1px 8px 5px rgba(179, 175, 179, 0.3);
  box-shadow: 3px 1px 8px 5px rgba(179, 175, 179, 0.3);

  -moz-transform: translate(7px, 0px);
  -webkit-transform: translate(7px, 0px);
  -o-transform: translate(7px, 0px);
  -ms-transform: translate(7px, 0px);
  transform: translate(7px, 0px);

  transition-duration: 500ms;
}

.shadow_default {
  -webkit-box-shadow: 2px 1px 8px 0px rgba(179, 175, 179, 0.49);
  -moz-box-shadow: 2px 1px 8px 0px rgba(179, 175, 179, 0.49);
  box-shadow: 2px 1px 8px 0px rgba(179, 175, 179, 0.49);
}

.indent-b_xxxxl {
  margin-bottom: 40px;
}

.indent-b_xxl {
  margin-bottom: 24px;
}

.indent-b_xl {
  margin-bottom: 20px;
}

.indent-b_xs {
  margin-bottom: 8px;
}

.indent-b_xxs {
  margin-bottom: 4px;
}

.img {
  max-width: 100%;
}

.align-r {
  float: right;
}

.clear {
  clear: both;
}
