:root {
  --color-brand: #2196f3;
  --color-text-primary: #343434;
  --color-text-secondary: #999999;
  --color-text-ghost: rgba(0,0,0,0.45);
  --color-text-alert: #EF5350;


  --color-text-primary_theme_inverse: rgba(255,255,255,0.9);
  --color-text-secondary_theme_inverse: rgba(255,255,255,0.6);
  --color-text-ghost_theme_inverse: rgba(255,255,255,0.4);

  --color-bg-normal: #F5F6F7;
  --color-bg-alert: #FFF3F2;
  

}



::selection {
  background-color: var(--color-text-primary);
  color: white;
}


* {
  font-family: "Poppins", "Helvetica Neue", "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
} 

a {
  color: var(--color-text-primary);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-secondary);
  cursor: pointer;
  text-decoration: none;

  transform: scale(1.2);
  transition-duration: 300ms;
}

.social-icons {
  position: absolute;
  bottom: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.social-icons__icon {
  margin-right: 20px;
}

.menu-new {
  display: inline-block;
}
.menu__page-link {
  display: inline-block;
  margin-right: 20px;
}

.menu__page-link_selected {
  color: var(--color-text-ghost);
  cursor: auto;
  text-decoration: none;
}

.view_normal {
  background-color: var(--color-bg-normal);
}

.view_alert {
  background-color: var(--color-bg-alert);
}

/* Text */
.text {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.text_size_xxxxxl {
  font-size: 96px;
  line-height: 120px;
}

.text_size_xxxl {
  font-size: 48px;
  line-height: 60px;
}

.text_size_xxl {
  font-size: 40px;
  line-height: 48px;
}

.text_size_xl {
  font-size: 24px;
  line-height: 48px;
}

.text_size_l {
  font-size: 20px;
  line-height: 28px;
}

.text_size_m {
  font-size: 15px;
  line-height: 21px;
}

.text_view_primary {
  color: var(--color-text-primary);
}


.text_view_primary_theme_inverse {
  color: var(--color-text-primary_theme_inverse);
}

.text_view_secondary {
  color: var(--color-text-secondary);
}

.text_view_secondary_theme_inverse {
  color: var(--color-text-secondary_theme_inverse);
}

.text_view_ghost {
  color: var(--color-text-ghost);
}

.text_view_ghost_theme_inverse {
  color: var(--color-text-ghost_theme_inverse);
}

.text_view_brand {
  color: var(--color-brand);
}

.text_view_gradient-alfa {
  background: -webkit-linear-gradient(left, #8360C3, #2EBF91);
   background: -o-linear-gradient(right, #8360C3, #2EBF91);
   background: -moz-linear-gradient(right, #8360C3, #2EBF91);
   background: linear-gradient(to right, #8360C3, #2EBF91); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_view_alert {
  color: var(--color-text-alert);
}

.text_weight_bold {
  font-weight: bold;
}

.text_weight_medium {
  font-weight: 500;
}

.text_underline {
  text-decoration: underline;
}

.text_underline_none {
  text-decoration: none;
}

.navigation {
  box-sizing: border-box;
  width: 400px;
  position: fixed;
  height: 100%;
  padding: 0 72px;
}

.navigation__container {
  height: 100%;
  position: relative;
  padding-top: 24px;
}

.layout {
  width: 100%;
  height: 100%;
  position: relative;
}

.layout--container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  position: relative;
}

.header {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding-top: 48px;
}

.header-new {
  padding-top: 48px;
  padding-left: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section__container_primary {
  flex: 1;
}

.section__container_secondary {
  padding-left: 24px;
  width: 40%;
}

/* geronimo */
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-child {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}


.section-private {
  width: 100%;
}

.section-private_theme_inverse {
  background: #121212;
}

.section-private_theme_normal {
  background: #F3F3F3; 
}

.section-private__area {
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  padding: 40px 24px; 
}

.social-icons-new {
 display: grid;
 grid-row: ;
}

.social-icons-private__icon {
 margin-right: 16px;
 text-decoration: none;
}

 .padding_v_xxxxl {
   box-sizing: border-box;
   padding: 80px 24px;
 }







.card {
  color: var(--color-text-secondary);
  height: 300px;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 16px;
  transition-duration: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 1px 8px 5px rgba(179, 175, 179, 0.3);
  -moz-box-shadow: 3px 1px 8px 5px rgba(179, 175, 179, 0.3);
  box-shadow: 3px 1px 8px 5px rgba(179, 175, 179, 0.3);

  -moz-transform: translate(7px, 0px);
  -webkit-transform: translate(7px, 0px);
  -o-transform: translate(7px, 0px);
  -ms-transform: translate(7px, 0px);
  transform: translate(7px, 0px);

  transition-duration: 500ms;
}

.project-card {
  width: 100%;
  height: 200px;
  border: 1px solid #C2C2C2;
  border-radius: 24px;
}

.shadow_default {
  -webkit-box-shadow: 2px 1px 8px 0px rgba(179, 175, 179, 0.49);
  -moz-box-shadow: 2px 1px 8px 0px rgba(179, 175, 179, 0.49);
  box-shadow: 2px 1px 8px 0px rgba(179, 175, 179, 0.49);
}

.indent-l_12xl {
  margin-left: 120px;
}

.indent-b_12xl {
  margin-bottom: 120px;
}

.indent-b_9xl {
  margin-bottom: 96px;
}

.indent-b_8xl {
  margin-bottom: 80px;
}

.indent-b_7xl {
  margin-bottom: 72px;
}

.indent-b_xxxxxl {
  margin-bottom: 48px;
}

.indent-b_xxxxl {
  margin-bottom: 40px;
}
.indent-l_xxxxl {
  margin-left: 40px;
}

.indent-b_xxxl {
  margin-bottom: 32px;
}

.indent-b_xxl {
  margin-bottom: 24px;
}

.indent-r_xxl {
  margin-right: 24px;
}

.indent-r_l {
  margin-right: 16px;
}

.indent-b_xl {
  margin-bottom: 20px;
}

.indent-b_l {
  margin-bottom: 16px;
}

.indent-b_s {
  margin-bottom: 12px;
}

.indent-b_xs {
  margin-bottom: 8px;
}

.indent-b_xxs {
  margin-bottom: 4px;
}

.img {
  max-width: 100%;
}

.align-r {
  float: right;
}

.align-v {
  vertical-align: top;
}

.clear {
  clear: both;
}


/* flex */



.container {
  padding-left: 40px;
  padding-bottom: 48px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 33fr 66fr;
}

.container_50-50 {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 50fr 50fr ;
}

.container_50-50_project {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 50fr 50fr ;
}

.container_50-50__second {
  text-align: right;
  padding-right: 24px;
}

.informer {
  border-radius: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 33fr 66fr;
}

.intro {
  padding-left: 40px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 80fr 20fr;
}


.display_inline-block{
display: inline;
}

.social-icons-align-right {
text-align: right;
}

/* project images */

.image_project_product-posting {
  background-image: url("image_project_product-posting.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_product-posting {
        background:url('image_project_product-posting@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_online-chat {
  background-image: url("image_project_online-chat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_online-chat {
        background:url('image_project_online-chat@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_infrastructure {
  background-image: url("image_project_infrastructure.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_infrastructure {
        background:url('image_project_infrastructure@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_landing-pages {
  background-image: url("image_project_landing-pages.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_landing-pages {
        background:url('image_project_landing-pages@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_invoicing {
  background-image: url("image_project_invoicing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_invoicing {
        background:url('image_project_invoicing@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_payments-sdk {
  background-image: url("image_project_payments-sdk.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_payments-sdk {
        background:url('image_project_payments-sdk@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_onboarding {
  background-image: url("image_project_onboarding.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_onboarding {
        background:url('image_project_onboarding@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.image_project_infrastructure-kassa {
  background-image: url("image_project_infrastructure-kassa.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .image_project_infrastructure-kassa {
        background:url('image_project_infrastructure-kassa@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* end project images */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {

  .content_indent{
    padding-left: 0;
  }

  .flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .cv {
    margin-bottom: 32px;
  }


  .section-private__area {
    width: 100%;
    padding: 40px 40px; 
  }
  
  .navigation /*I want this div to be in position fixed and height as 100% of the screen. But when I do it, there is a chaos*/ {
    position: relative;
    width: 100%;
  }

  ._hide {
    display: none;
  }

  .layout {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layout--container {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .menu__page-link {
    display: inline-block;
    margin-right: 20px;
  }

  .navigation {
    box-sizing: border-box;
    padding: 0 40px
  }

  .social-icons {
    margin-bottom: 40px;
    position: static;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .section_container_primary {
    width: 100%;
  }

  .section_container_secondary {
    padding: 0 24px 24px 24px;
    width: 100%;
  }

  .container {
    padding: 0 0 24px 24px;
    grid-gap: 8px;
    grid-template-columns: auto;
  }

  .informer {
    padding: 24px 24px 24px 24px;
    grid-gap: 8px;
    grid-template-columns: auto;
  }

  .intro {
    padding: 0 24px 0 24px;
    grid-gap: 8px;
    grid-template-columns: auto;
  }

  .container_50-50_project {
    grid-template-columns: auto;
  }

  .text_size_xxxxxl {
    font-size: 64px;
    line-height: 80px;
  }

  .header-new {
    box-sizing: border-box;
    max-width: 100%;
    padding: 48px 0px 0px 24px;
  }

  .social-icons-align-right {
    text-align: left;
  }

  .social-icons-private__icon {
    margin-right: 24px;
   }
  
}